/* 
    Created on : 6-apr-2018, 8.53.36
    Author     : florian.sabani
*/

body{
	background-color: 	#FFEBCD ;
}

.button {
    background-color: #e87153;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	padding: 0px;
	width: 200px;
	height: 35px;
	border: 2px solid #ba4d32;
    border-radius: 9px;
	box-shadow: 0px 10px #ba4d32;	
	margin-top: 0px
}
.button:hover{
	background-color: #f4d142;
	border: 2px solid #f4bb41;
	box-shadow: 0px 10px #f4bb41;
	margin-top: 0px;
}
.button:active{
	margin-top: 5px;
	background-color: #e87153;
	border: 2px solid #ba4d32;
	box-shadow: 0px 5px #ba4d32
}

.risposta{
	margin-right: 200px;
	width: 400px
}

.centrato{
	display:block;
	margin : 0 0 0 50%;
}
.centrato-risposta{
	text-align: center;
}
